/* Initial Landing & Instruction Page */

#instruction-page {
  background: url("assets/instruction-page.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

#start-button{ 
  content: url(assets/start\ button.png);
  width: 15%;
  position: absolute;
  top: 80%;
  right: 25%
}

/* Game Page CSS */

#landing-bg {
    /* background-image: ; */
    /* background: url("https://i.imgur.com/xeLWMlb.gif"); */
    background: url("assets/background2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: none; 
}

#logo {
    width: 18%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
  }

  #versus {
    width: 50px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -70px;
    z-index: 1;
  }


  #player-name {
    display: flex;
    justify-content: center;
    width:100%;
    color: yellow;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
  }

  .player-name2 {
    width: 50%;
    text-align: right;
    margin-right: 2%;
  }

  .player-name1 {
    width: 50%;
    text-align: left;
    margin-left: 2%;
  }


.container { 
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    position: fixed;
    bottom: 5%;
    right: 0;
    left: 0;

  }

  .container .item-0 {
    bottom: 0;
    right: 0;
    content: url(assets/p1.png);
    width: 10%;
    animation-name: jiggle;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }

  @keyframes jiggle {
    0% { transform: translate(0px, 0px) }
    50% { transform: translate(30px, 5px) }
    100% { transform: translate(0, 0px) }
}
  .container .item-1 {
    bottom: 0;
    right: 0;
    content: url(assets/p2.png);
    transform: scaleX(-1);
    width: 13%;
    animation-name: sumo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  @keyframes sumo {
    0% { transform: scaleX(-1);}
    50% { transform: translateY(30px) scaleX(-1);}
    100% { transform: (0, 20px) }
}


  .container-arrow {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        position: relative; 
      }
      


  .arrowkey img {
    width: 80%; 
}

.progress-wrapper {
display: flex;
justify-content: center;
flex: wrap;
width: 96%;
margin: 0 auto;
}


/* .row .player-1 {
  width: 40%;
}
.row .player-2 {
  width: 49%;
} */
