#landing-bg {
    /* background-image: ; */
    /* background: url("https://i.imgur.com/xeLWMlb.gif"); */
    background: url("assets/background2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

#logo {
    max-width: 200px;
    position: relative;
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
  }

  #versus {
    width: 30px;
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -30px;
  }


  #player-name {
    display: flex;
    justify-content: center;
    width:100%;
    color: yellow;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
  }

  .player-name2 {
    width: 50%;
    text-align: right;
  }

  .player-name1 {
    width: 50%;
    text-align: left;
  }


.container { 
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-content: center;
    position: fixed;
    bottom: 5%;
    right: 0;
    left: 0;

  }

  .container .item-0 {
    bottom: 0;
    right: 0;
    content: url(assets/p1.jpg);
    height: 220px;
    animation-name: jiggle;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
  }

  @keyframes jiggle {
    0% { transform: translate(0px, 0px) }
    50% { transform: translate(30px, 5px) }
    100% { transform: translate(0, 0px) }
}
  .container .item-1 {
    bottom: 0;
    right: 0;
    content: url(assets/p2.jpg);
    transform: scaleX(-1);
    height: 220px;
    animation-name: sumo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  @keyframes sumo {
    0% { transform: scaleX(-1);}
    50% { transform: translateY(30px) scaleX(-1);}
    100% { transform: (0, 20px) }
}


  .container-arrow {
        display: flex;
        justify-content: center;
        max-width: 200px;
        max-height: 60px;
        margin: 20px auto;
        position: relative; 
      }
      


  .arrowkey img {
    text-align: center;
    width: 80px;
    height: 80px;

}